.main-first-cnt {
  display: flex;
  justify-content: center;
  max-width: 1350px;
  width: 100%;
  gap: 4rem;
}

.main-first-txt-cnt {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin: 150px;
}

.second-txt-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card-cnt {
  display: flex;
  gap: 2rem;
  margin-top: 100px;
  justify-content: center;
  padding-right: 10%;
}
