.main-first-cnt {
  display: flex;
  justify-content: center;
  max-width: 1350px;
  width: 100%;
  gap: 4rem;
}

.main-first-txt-cnt {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin: 150px;
}

.second-txt-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card-cnt {
  display: flex;
  gap: 2rem;
  margin-top: 100px;
  justify-content: center;
  padding-right: 10%;
}

.third-txt-cnt {
  display: flex;
  justify-content: center;
  margin: 95px;
}

.main-img-and-card-cnt {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.main-small-card-cnt {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.small-card-cnt {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  gap: 0.8rem;
}

.small-card-cnt-two {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10%;
  gap: 0.8rem;
}

.small-card-cnt-three {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  gap: 0.8rem;
}

.small-logo-txt-ctn {
  display: flex;
}

.small-txt-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fifth-txt-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 95px;
  padding-left: 30%;
}

.main-sixth-ctn {
  width: 1097px;
  height: 363px;
  background: #f8fafc 0% 0% no-repeat padding-box;
  box-shadow: 0px 16px 48px #00000029;
  border-radius: 42px;
  opacity: 1;
  margin-left: 10%;
}

.main-sixth-head-ctn {
  display: flex;
  padding-left: 5%;
  align-items: center;
  gap: 1.2rem;
}

.main-sixth-body-ctn {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  gap: 2rem;
}

.small-logo-cnt {
  display: flex;
  margin-left: 23%;
  gap: 10rem;
}

.empty-div {
  display: flex;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 12%;
  justify-content: center;
  align-items: flex-end;
  padding: 3px;
  height: 150px;
  width: 1300px;
  background-color: black;
  gap: 0.5rem;
}

.c-cnt,
.emp-txt {
  color: white;
}
.c-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  height: 15px;
  width: 15px;
  border: 1px solid white;
  border-radius: 50%;
}
