.main-first-cnt {
  display: flex;
  justify-content: center;
  max-width: 1350px;
  width: 100%;
  gap: 4rem;
}

.main-first-txt-cnt {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin: 150px;
}

.second-txt-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card-cnt {
  display: flex;
  gap: 2rem;
  margin-top: 100px;
  justify-content: center;
  padding-right: 10%;
}

.third-txt-cnt {
  display: flex;
  justify-content: center;
  margin: 95px;
}

.main-img-and-card-cnt {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.main-small-card-cnt {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.small-card-cnt {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  gap: 0.8rem;
}

.small-card-cnt-two {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10%;
  gap: 0.8rem;
}

.small-card-cnt-three {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  gap: 0.8rem;
}

.small-logo-txt-ctn {
  display: flex;
}

.small-txt-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fifth-txt-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 95px;
  padding-left: 30%;
}
